<div class="container">
  <input [(ngModel)]="term" type="text" class="filter-products" placeholder="Filter products...">
  <div class="products">
    <p *ngIf="loading"  class="loading">Loading...</p>
    <app-product
      class="product-container"
      *ngFor="let product of products | filter: term; trackBy: trackByFn"
      [product]="product"
    >
    </app-product>
  </div>
  <button
    (click)="addNew()"
    *ngIf="!loading"
    [disabled]="isDisabled"
    [ngClass]="{
        'regular': !isDisabled,
        'disabled': isDisabled
      }"
    class="load-more-btn">
    {{btnLoading? "Loading...": "Load more"}}
  </button>
</div>
