.single-product-container{
  width: 40%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5%;
  margin-bottom: 30px;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 2px 2px 9px gray;
  padding: 30px;
  &__image-container{
    width: 40%;
  }
  &__image{
    width: 100%;
  }
  &__content{
    margin-top: 30px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  &__title{
    font-weight: bold;
  }
  &__descriprion{

  }
  &__price{
    font-weight: bold;
  }
}

.back-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid gray;
}
