.header{
  width: 100%;
  padding: 50px 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &__title{
    font-size: 30px;
  }
}

.error-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


